/*RESET CSS*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {margin: 0;padding: 0;	border: 0; font-size: 16px;	font: inherit;}

input, textarea {outline: none;}
textarea {resize: none;}

/*HTML5 display-role reset for older browsers*/
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {display: block;}
body {line-height: 1;}
ol, ul {list-style: none;}
blockquote, q {quotes: none;}
blockquote:before, blockquote:after,
q:before, q:after {content: ''; content: none;}
table {border-collapse: collapse; border-spacing: 0;}

* {
	box-sizing: border-box;
}

.font1 {
	font-family: 'Poppins', semi-bold;
	font-size: 12px;
	text-transform: uppercase;
}
.font2 {
	font-family: 'Poppins', regular;
	font-size: 44px;
}
.font3 {
	font-family: 'Poppins', medium;
	font-size: 16px;
}
.bg {
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	height: 500px;
}


/*HEADER*/
.header {
	border-bottom: 0.5px solid grey;
}

.header__container {
	padding: 20px;
	display: grid;
	grid-template-columns: repeat(5, 1fr);
}
.header__logo {
	align-self: center;
	padding-right: 20px;
}
.header__logo-item {
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	display: block;
	width: 152px;
	height: 35px;
}

.header__nav {
	border-right: 0.5px solid grey;
	border-left: 0.5px solid grey;
	padding-left: 20px;
	display: grid;
	grid-template-columns: repeat(5, auto) 1fr;
	grid-gap: 25px;
	grid-template-rows: 1fr;
	grid-column-start: 2;
	grid-column-end: 5;
}

.header__nav-item {
	text-decoration: none;
	color: white;
	align-self: center;
	text-align: center;
}

.header__nav-item:hover {
	text-decoration: underline; 
}

.header__nav-item:visited {
	color: white;
	text-decoration: none; 
}

.header__register {
	display: grid;
	grid-template-columns: repeat(3, auto);
	grid-template-rows: 1fr;
	grid-gap: 20px;
	padding-left: 20px;
}

.header__register-item {
	text-decoration: none;
	color: white;
	align-self: center;
	text-align: center;
}

.header__register-item:hover {
	text-decoration: underline; 
}

.header__register-item:visited {
	color: white;
	text-decoration: none; 
}

.header__register-square {
	background-color: #41C37F;
	padding: 5px 10px 5px 10px;
	border-radius: 3px;
	border: 0;
	color: black;
	align-self: center;
	text-align: center;
}

.text {
	margin-top: 90px;
}

.text__container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	text-align: center;
	color: white;
}
.text__item {
	margin-top: 10px;
}

@media screen and (max-width: 1024px) {
	.header__register {
		grid-template-columns: repeat(2, 1fr);
		grid-template-rows: repeat(2, 1fr);
		grid-row-gap: 15px;
	}
	.header__register-square {
		grid-column-start: 2;
		grid-row-start: 1;
		grid-row-end: 3;
	}
}


@media screen and (max-width: 768px) {
	.header__container {
		grid-template-columns: repeat(6, 1fr)
	}
	.header__nav {
		grid-template-columns: repeat(4, auto);
		grid-template-rows: repeat(2, 1fr);
		grid-row-gap: 15px;
	}
	.header__nav-item:nth-child(2n) {
		grid-row-start: 2;
	}
	.header__nav-item:nth-child(2) {
		grid-column-start: 1;
		grid-column-end: 3;
	}
	.header__nav-item:nth-child(4) {
		grid-column-start: 2;
		grid-column-end: 4;
	}
	.header__register {
		grid-column-start: 5;
		grid-column-end: 7;
	}
}

@media screen and (max-width: 500px) {
	.font1 {
		font-size: 8px;
	}
	.font2 {
		font-size: 30px;
	}
	.font3 {
		font-size: 10px;
	}
	.bg {
		height: 330px;
	}
	.text {
		margin-top: 60px;
	}
	.header__logo-item {
		width: 76px;
		height: 17px;
	}
}



/*LISTINGS*/
.listings {
	margin-top: 50px;
}

.listings__nav {
	margin-right: 30px;
	margin-left: 30px;
	display: grid;
	grid-template-columns: repeat(3, auto);
	grid-template-rows: 1fr;
	grid-gap: 50px;
	text-align: center;	
}
.listings__nav-item {
	font-family: 'Poppins', regular;
	font-size: 25px;
	color: black;
	text-transform: capitalize;
	text-decoration: none;
	align-self: center;
}
.listings__nav-item:nth-child(1) {
	color: #38BA6C;
}
.listings__select-wrap {
	display: none;
}
.listings__content {
	margin-left: 30px;
	margin-right: 30px;
	margin-top: 50px;
	display: grid;
	grid-gap: 30px;
	grid-template-columns: repeat(4, 1fr);
	grid-template-rows: repeat(3, 1fr);
}

.listings__item {
	border: 1px solid grey;
	text-decoration: none;
}

.listings__item-bg {
	min-width: 200px;
	min-height: 200px;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	position: relative;
}

.listings__item-category {
	position: absolute;
	top: 11px;
	left: 11px;
	height: 26px;
	padding: 0 8px;
	background-color: #323232;
	line-height: 26px;
	color: white;
	font-family: 'Poppins', semi-bold;
	font-size: 11px;
}

.listings__item-price {
	padding: 5px;
	background-color: #38BA6C;
	max-width: 80px;
	display: flex;
	justify-content: center;
	align-items: center;
	color: white;
	font-family: 'Lato', black;
	font-size: 20px;
	position: absolute;
	bottom: 11px;
	left: 11px;
}

.listings__item-price:empty {
	display: none;
}

.listings__item-desc {
	padding: 15px 15px 19px 15px;
	background: white;
}

.listings__item-city {
	font-family: 'Poppins', semi-bold;
	font-size: 10px;
	color: #41c37f;
	margin-bottom: 6px;
	font-weight: 600;
	text-transform: uppercase;
}

.listings__item-name {
	font-family: 'Poppins', medium;
	font-size: 16px;
	color: #323232;
	font-weight: 500;
}


@media screen and (max-width: 1024px) {
	.listings__content {
		grid-template-columns: repeat(3, 1fr);
		grid-template-rows: repeat(4, 1fr);
	}
}


@media screen and (max-width: 768px) {
	.listings__content {
		grid-template-columns: repeat(2, 1fr);
		grid-template-rows: repeat(6, 1fr);
	}
}

@media screen and (max-width: 500px) {
	.listings__content {
		grid-template-columns: 100%;
		grid-template-rows: repeat(12, 1fr);
	}
}



/*CATEGORIES*/
.categories {
	margin-top: 50px;
}

.categories__container {
	margin-left: 30px;
	margin-right: 30px;
}

.categories__title {
	font-family: 'Poppins', regular;
	font-size: 26px;
	color: black;
	text-align: center;
	margin-bottom: 30px;
}

.categories__content {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-template-rows: repeat(3, 1fr);
	grid-gap: 30px;
}

.categories__item_bg {
	min-width: 200px;
	min-height: 200px;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	text-decoration: none;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.categories__item_wide {
	grid-column-start: 2;
	grid-column-end: 4;
}

.categories__item-text {
	font-family: 'Poppins', semi-bold;
	font-size: 26px;
	text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
	text-transform: capitalize;
	color: #ffffff;
}

.categories__item--text:nth-child(2) {
	font-family: 'Poppins' light;
	font-size: 18px;
	text-transform: none;
}

@media screen and (max-width: 1024px) {
	.categories__content {
		grid-template-columns: repeat(3, 1fr);
		grid-template-rows:  repeat(4, 1fr);
	}

}

@media screen and (max-width: 768px) {
	.categories__content {
		grid-template-columns: repeat(2, 1fr);
		grid-template-rows: repeat(6, 1fr);
	} 

	.categories__item_wide {
		grid-column-start: 1;
		grid-column-end: 3;
		grid-row-start: 2;
	}

	.categories__item:nth-child(3) {
		grid-column-start: 1;
		grid-row-start: 1;
	}
}

@media screen and (max-width: 500px) {
	.categories__content {
		grid-template-columns: repeat(1, 100%);
		grid-template-rows:  repeat(12, 1fr);
	}

	.categories__item_wide {
		grid-column-start: 1;
		grid-column-end: 2;
		grid-row-start: 2;
	}
	.categories__item:nth-child(3) {
		grid-row-start: 3; 
	}
}


/*ADS*/
.ads {
	margin-top: 50px;
	/*display: flex;*/
	/*flex-direction: column;*/
	/*justify-content: space-between;*/
	/*align-items: center;*/
	/*height: 600px;*/
	/*padding-left: 50px; */
	/*max-width: 1300px;*/
}

.ads__topbanner {
	height: 250px;
	background-color: #38BA6C; 
	display: flex;
	width: 100%;
	/*margin-right: auto; */
	/*margin-left: auto;*/
}
.ads__topbanner-container {
	width: 100%;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-ms-align-items: center;
	align-items: center;
	justify-content: space-between;
}
.ads__topbanner-wrap {
	width: 100%;
	/*display: flex;*/
	/*flex-direction: column;*/
	/*justify-content: space-between;*/
	padding: 30px;
	height: 200px;
	width: 600px;
}
.ads__topbanner-title {
	width: 403px;
	display: flex;
	justify-content: space-between;
	margin-left: 20px;
}
.ads__topbanner-title--item {
	font-family: 'Poppins', regular;
	font-size: 36px;
	color: white;
}
.ads__topbanner-title--item:nth-child(1) {
	color: black;
}
.ads__topbanner-text {
	font-family: 'Poppins', regular;
	font-size: 16px;
	color: white;
}
.ads__topbanner-submite {
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #0C4629;
	width: 130px;
	height: 40px;
	border-radius: 3px;
}
.ads__topbanner-submite--text {
	font-family: 'Poppins', regular;
	font-size: 18;
	text-transform: uppercase;
	color: white;
}
.ads__google {
	max-width: 970px;
	height: 250px;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #B3B3B3;
}	

.ads__google-text {
	color: #939393;
	font-family: 'Poppins', light;
	font-size: 50px;
	text-transform: capitalize;
}


/*NEWS*/
.news {
	background-color: #41C37F; 
	margin-top: 100px; 
	padding: 40px;
}
.news__container {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: 50px;
}
.news__text {
	font-family: 'Poppins', semi-bold;
	font-size: 23px;
	color: white;
	align-self: center;
}
.news__form {
	background-color: white;
	display: flex;
}
.news__form-item {
	border: none;
	border-radius: 3px 0 0 3px;
	font-family: 'Poppins', regular;
	font-size: 16px;
	width: 80%;
	padding-left: 10px; 
}
.news__form-button {
	border: none;
	background-color: #0C4629;
	color: white; 
	font-family: 'Poppins', semi-bold;
	font-size: 16px;
	width: 20%;
	min-width: 90px;
	padding: 0;
}

@media screen and (max-width: 768px) {
	.news__container {
		grid-template-columns: 100%;
		grid-template-rows: repeat(2, 50px);
	}
}

/*FOOTER*/
/* .footer {
	background-color: #393C3F;
} */

.footer__container {
	padding: 30px;
}

.footer__prefooter {
	display: grid;
	grid-row-gap: 30px;
	grid-column-gap: 50px;
	grid-template-columns: 2fr 1fr 1fr;
	grid-template-rows: auto minmax(200px, 1fr);
}

.footer__prefooter_title {
	font-family: 'Poppins', semi-bold;
	font-size: 18px;
	color: white;
}

.footer__prefooter_text {
	font-family: 'Poppins', medium;
	font-size: 14px;
	color: #B3B3B3;
	line-height: 26px;
	max-height: 300px;
	overflow: hidden;
}

.footer__prefooter_list {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.link {
	color: #41C37F;
	text-decoration: underline;
}

.link:hover {
	text-decoration: none;
}

.link2 {
	font-family: 'Poppins', medium;
	font-size: 14px;
	color:  #B3B3B3;
	text-decoration: none;
}

.link2:hover {
	cursor: pointer;
}

.click {
	width: 8.02px;
	height: 4.57px;
	margin-right: 5px;
}

.footer__copyright {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: 1fr;
	grid-row-gap: 30px; 
	grid-column-gap: 50px; 
	margin-top: 40px;
	border-top: 0.5px solid grey;
	padding-top: 10px;
}

.footer__copyright_text {
	margin-right: 5px;
	font-family: 'Poppins', regular;
	font-size: 14px;
	color: #B6B7B8;
	align-self: center;
}
.footer__copyright_apps {
	max-width: 300px;
	margin-right: auto;
	margin-left: auto;
	display: flex;
	align-items: center;
}
.apps__item {
	width: 142px;
	height: 43px;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;

}

.apps__item:nth-child(1) {
	margin-right: 20px;
	width: 121px;
	height: 43px;
}

.footer__copyright_socials {
	max-width: 300px;
	margin-right: auto;
	margin-left: auto;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.socials__image {
	width: 20px;
	height: 20px;
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center center;
}

.socials__item {
	border-radius: 20px;
	background-color: white;
	margin-right: 10px;
	width: 34px;
	height: 34px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.socials__item:last-child {
	margin-right: 0;
}

@media screen and (max-width: 768px) {
	.footer__copyright {
		grid-template-columns: 1fr 1fr;
		grid-template-rows: auto auto;
	}
	.footer__copyright_text {
		grid-row-start: 2;
	}
	.footer__copyright_socials {
		grid-column-start: 1;
		margin-left: 0;
	}
	.footer__copyright_apps {
		grid-column-start: 2;
		grid-row-start: 1;
		grid-row-end: 3;
		flex-direction: column;
		justify-content: space-between;
	}
	.apps__item:nth-child(1) {
		margin-bottom: 20px;
		margin-right: 0;
	}
}